{% extends "base.html" %}

{% comment %} 

{% block title %}Blog Categories{% endblock  %}
{% block content %}
    <h1>Blog Categories</h1>
    {% for item in cat_menu_list %}
        <h4><a class='dropdown-item' href="{% url "category" item|slugify %}">{{item}}</a></h4>
    {% endfor %}


{% endblock %} 

{% endcomment %}

{% block title %}Blog Categories{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4">Blog Categories</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="list-group">
                {% for item in cat_menu_list %}
                    <a href="{% url 'category' item|slugify %}" class="list-group-item list-group-item-action">
                        {{ item }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}