{% extends "base.html" %}
{% comment %} {% load static %}

{% block content %}

<h1>User Profile....</h1>
<br>

<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        {% if page_user.profile_pic %}
        <img src="{{page_user.profile_pic.url}}" class="img-fluid rounded" style=" width: 200px; height: 200px;" >
        {% else %}
        <img src="{% static 'avatar.png' %}" class="img-fluid rounded" style="width: 200px; height: 200px;" >
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{page_user.user.first_name}} {{page_user.user.last_name}}</h5>
          <p class="card-text">{{page_user.bio}}</p>
          <p class="small text-muted">


            {% if page_user.facebook_url %}
            | <a href="{{page_user.facebook_url}}">Facebook </a>| 
            {% endif %}

            {% if page_user.twitter_url %}
            <a href="{{page_user.twitter_url}}">Twitter </a> | 
            {% endif %}
            
            {% if page_user.profile.instagram_url %}
            <a href="{{page_user.instagram_url}}">Instagram </a>
            {% endif %}
        </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %} {% endcomment %}



{% load static %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">User Profile</h1>
    <div class="card shadow-sm mb-3">
        <div class="row g-0">
            <div class="col-md-4 text-center">
                {% if page_user.profile_pic %}
                <img src="{{page_user.profile_pic.url}}" class="img-fluid rounded-circle my-4" style="width: 200px; height: 200px;" alt="Profile Picture">
                {% else %}
                <img src="{% static 'avatar.png' %}" class="img-fluid rounded-circle my-4" style="width: 200px; height: 200px;" alt="Default Avatar">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{page_user.user.first_name}} {{page_user.user.last_name}}</h5>
                    <p class="card-text">{{page_user.bio}}</p>
                    <div class="social-links small text-muted">
                        {% if page_user.facebook_url %}
                        <a href="{{page_user.facebook_url}}" class="me-3">Facebook</a>
                        {% endif %}
                        
                        {% if page_user.twitter_url %}
                        <a href="{{page_user.twitter_url}}" class="me-3">Twitter</a>
                        {% endif %}
                        
                        {% if page_user.instagram_url %}
                        <a href="{{page_user.instagram_url}}" class="me-3">Instagram</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

